<table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Card Number</th>
        <th>Expiry Date</th>
        <th>CVV</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = "let list of service.paymentList; let i = index">
        <td (click)="populateForm(list)" data-editable="true">{{list.CardOwnerName}}</td>
        <td (click)="populateForm(list)">{{list.CardNumber}}</td>
        <td (click)="populateForm(list)">{{list.ExpirationDate}}</td>
        <td (click)="populateForm(list)">{{list.CVV}}</td>
        <td><button class="btn btn-danger" (click)="onDelete(list.PMId)" type="submit">Delete</button></td>
        <td><button *ngIf="enableEdit" class="btn btn-primary" (click)="populateForm(list)" type="submit">Edit</button></td>
      </tr>
    </tbody>
  </table>
